{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
  <h1>{% trans "Sign In" %}</h1>
  <main>
    <div class="container">
      <p>
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-default" href="{% url 'account_reset_password' %}">
          {% trans "Forgot Password?" %}
        </a>
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </main>
{% endblock content %}
