{% extends "account/base.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th><h2>Order Summary</h2></th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderItem in object.items.all %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{orderItem.item.title}}</td>
                            <td>
                                <a href="{% url 'pinochio:subtractFromCart' orderItem.item.slug %}">
                                    <i class="fas fa-minus mr-2"></i>
                                </a>
                                {{orderItem.quantity}}
                                <a href="{% url 'pinochio:addToCart' orderItem.item.slug %}">
                                    <i class="fas fa-plus ml-2"></i>
                                </a>
                            </td>
                            {% if orderItem.size == "Lg" %}
                                <td>${{orderItem.item.largePrice}}</td>
                            {% else %}
                                <td>${{orderItem.item.smallPrice}}</td>
                            {% endif %}
                            <td>${{orderItem.getTotalItemPrice}}</td>
                            <td>
                                <a href="{% url 'pinochio:removeFromCart' orderItem.item.slug %}">
                                    <i class="fas fa=trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5"><b>Total:</b></td>
                        <td><b>${{object.getTotal}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a href="/checkout" class="btn btn-warning float-right">
                                Proceed To Checkout
                            </a>
                            <a href="/menu" class="btn btn-primary float-right">
                                Continue Shopping
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
