{% extends "account/base.html" %}
{% load i18n %}
{% extends "base/base.html" %}

{% block title %}Customer Register{% endblock %}
{% block content %}
  <main>
    <div class="container">
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Register</div>
            <div class="panel-body">
              {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
              {% endif %}
              <div class="form-group clearfix">
                <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.email }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.password }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.passwordRepeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
                <div class="col-md-6">
                  {{ form.passwordRepeat }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.firstName.id_for_label }}" class="col-md-4 control-label text-right">First Name:</label>
                <div class="col-md-6">
                  {{ form.firstName }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.lastName.id_for_label }}" class="col-md-4 control-label text-right">Last Name:</label>
                <div class="col-md-6">
                  {{ form.lastName }}
                </div>
              </div>
              <div class="col-md-6 col-md-offset-4">
                <input type="submit" value="Register" class="btn btn-success">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}
