{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

  <!-- Brand -->
  <a class="navbar-brand waves-effect" href="/">
      <strong class="red-text">Pinochio's Pizza & Subs</strong>
  </a>

  <!-- Collapse -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect" href="/menu">Menu</a>
      </li>
    </ul>
    <!--Right-->
    <ul class="navbar-nav nav-flex-icons">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'pinochio:order_summary' %}" class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1">
              {{request.user|cart_item_count}}
            </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block">Cart</span>
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'acount_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/register">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
<!-- Navbar -->
