    <!-- SCRIPTS -->
      <!-- JQuery -->
      <script type="text/javascript" src="{%static js/jquery-3.4.1.min.js%}"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="{%static js/popper.min.js%}"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{%static js/bootstrap.min.js %}"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="{%static js/mdb.min.js%}"></script>
      <!-- Initializations -->
      <script type="text/javascript">
        // Animations initialization
        new WOW().init();
      </script>