{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkou</h2>
      <div class="card">
        <form method="POST" class="card-bdy">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-primaty" name="submit" text="Checkout">
        </form>
      </div>

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{len(cart.items)}}</span>
      </h4>
      <ul class="list-group mb-3 z-depth-1">
        {% for orderItem in cart.items %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{orderItem.item.name}}</h6>
              <small class="text-muted">{{orderItem.item.description[:50]}}</small>
            </div>
            {% if orderItem.size == "Lg" %}
              <span class="text-muted">{{orderItem.item.largePrice}}</span>
            {% else %}
              <span class="text-muted">{{orderItem.item.smallPrice}}</span>
            {% endif %}
            <p>X {{orderItem.quantity }} = {{orderItem.getTotalItemPrice}}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock content %}
