{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Payment</h2>
      <div class="col-md-12 mb-4">
        <div class="card">
          <form method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{key}}"
              data-description="Stripe Payment for Pinochios"
              data-amount="{{amount}}"
              data-locale="auto">
            </script>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
