{% extends "base/base.html" %}
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            {% for type in types %}
              <li class="nav-item">
                <a href="#{{type.abbr}}" class="nav-link">{{type.fullName}}</a>
              </li>
            {% endfor %}
          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
        {% for food in foods %}
          <section class="text-center mb-4" id="{{food.abbr}}">
            <div class="row wow fadeIn">
              {% for item in food.items %}
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card">
                    <div class="view overlay">
                      <img src="/static/img/food/{{item.foodType}}/{{item.abbr}}.jpg"
                        alt="{{item.name}}">
                      <a href="">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <div class="card-body text-center">
                      <a href="" class="grey-text">
                        <h5>{{food.fullName}}</h5>
                      </a>
                      <h5>
                        <strong>
                          <a class="dark-grey-text" href="{{item.get_absolute_url}}">
                            {{item.name}}
                          </a>
                        </strong>
                      </h5>
                      <h4 class="font-weight-bold blue-text">
                        <strong>${{item.smallPrice}}</strong>
                      </h4>
                      {% if item.largePrice %}
                        <h4 class="font-weight-bold blue-text">
                          <strong>${{item.largePrice}}</strong>
                        </h4>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>
        {% endfor %}
     <!--Section: Products v.3-->
    </div>
  </main>
  <!--Main layout-->
{% endblock %}
