{% extends "base/base.html" %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <img src="/static/img/food/{{item.get_food_type}}/{{item.abbr}}.jpg"
            class="img-fluid" alt="{{item.name}}">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{item.name}}</span>
              </a>
            </div>

            <p class="lead">
              {% if item.largePrice %}
                <span class="mr-1">
                  <b>Small:</b> ${{item.smallPrice}}
                </span>
                <span>
                  <b>Large:</b> ${{item.smallPrice}}
                </span>
              {% else %}
                <span class="mr-1">${{item.smallPrice}}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>
            <p>{{item.description}}</p>

            <form id="form" class="d-flex justify-content-left">
              <div class="def-number-input number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown"
                  class="minus"></button>
                <input class="quantity" min="1" max="10" id="quantity"
                  name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  class="plus"></button>
              </div>
              {% if item.largePrice %}
                <div class="row d-flex justify-content-center wowo fadeIn">
                  {{ form.size }}
                </div>
              {% endif %}
              {% if item.hasToppings %}
                <div class="row d-flex justify-content-center wow fadeIn">
                  {{ form.toppings }}
                </div>
              {% endif %}
              {% if item.hasExtras %}
                <div class="row d-flex justify-content-center wow fadeIn">
                  {{ form.extras }}
                </div>
              {% endif %}
              <input type="submit" value="Add To Cart" class="btn btn-primary btn-md my-0 p">
            </form>

          </div>
          <!--Content-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      <hr>
    </div>
  </main>
  <!--Main layout-->
{% endblock %}
